In [43]:
import pandas as pd
from pandas import datetime
#import matplotlib.pyplot as plt

In [28]:
#def parser(x):
#    return datetime.strptime(x, '%Y-%m-%d')

In [31]:
df = pd.read_excel('C:\\Users\\tsatish\\Desktop\\Call Forecasting.xlsx', index_col=0, parse_dates=[0])
#, date_parser=parser

In [36]:
df

                    Calls
Month
2015-07-01  122917.000000
2015-08-01  117283.000000
2015-09-01  121320.000000
2015-10-01  123224.000000
2015-11-01  135374.000000
2015-12-01  174198.000000
2016-01-01  229771.000000
2016-02-01  163286.000000
2016-03-01  197227.000000
2016-04-01  140871.000000
2016-05-01  139845.000000
2016-06-01  147361.000000
2016-07-01  122539.000000
2016-08-01  127301.000000
2016-09-01  120481.000000
2016-10-01  137747.000000
2016-11-01  158939.000000
2016-12-01  186776.000000
2017-01-01  129828.000000
2017-02-01   94180.000000
2017-03-01  101419.000000
2017-04-01   85987.000000
2017-05-01   88581.000000
2017-06-01   83448.000000
2017-07-01   82316.000000
2017-08-01   81448.000000
2017-09-01   77551.000000
2017-10-01   78180.000000
2017-11-01   83027.000000
2017-12-01   89613.000000
2018-01-01   96641.000000
2018-02-01   74979.000000
2018-03-01   81342.000000
2018-04-01   71154.000000
2018-05-01   67875.000000
2018-06-01   71860.000000
2018-07-01   81252.000000
2018-08-01   73462.000000
2018-09-01   69323.000000
2018-10-01   80360.000000
2018-11-01   81333.000000
2018-12-01   85555.000000
2019-01-01   86045.000000
2019-02-01   69282.000000
2019-03-01   81350.985189
2019-04-01   74255.853708
2019-05-01   72604.758302
2019-06-01   73742.753558

In [139]:
#df[Month].strftime("%a, %d, %B, %y")

NameError: name 'Month' is not defined

# Assumption for Time Series Model
#Data should be stationary - mean , variance and co-variance should be same in different time periods

In [39]:
#converting dataframe series into stationary
df_diff = df.diff(periods=1) # Integrated order 1
df_diff = df_diff[1:] # remving first value
df_diff

                   Calls
Month
2015-08-01  -5634.000000
2015-09-01   4037.000000
2015-10-01   1904.000000
2015-11-01  12150.000000
2015-12-01  38824.000000
2016-01-01  55573.000000
2016-02-01 -66485.000000
2016-03-01  33941.000000
2016-04-01 -56356.000000
2016-05-01  -1026.000000
2016-06-01   7516.000000
2016-07-01 -24822.000000
2016-08-01   4762.000000
2016-09-01  -6820.000000
2016-10-01  17266.000000
2016-11-01  21192.000000
2016-12-01  27837.000000
2017-01-01 -56948.000000
2017-02-01 -35648.000000
2017-03-01   7239.000000
2017-04-01 -15432.000000
2017-05-01   2594.000000
2017-06-01  -5133.000000
2017-07-01  -1132.000000
2017-08-01   -868.000000
2017-09-01  -3897.000000
2017-10-01    629.000000
2017-11-01   4847.000000
2017-12-01   6586.000000
2018-01-01   7028.000000
2018-02-01 -21662.000000
2018-03-01   6363.000000
2018-04-01 -10188.000000
2018-05-01  -3279.000000
2018-06-01   3985.000000
2018-07-01   9392.000000
2018-08-01  -7790.000000
2018-09-01  -4139.000000
2018-10-01  11037.000000
2018-11-01    973.000000
2018-12-01   4222.000000
2019-01-01    490.000000
2019-02-01 -16763.000000
2019-03-01  12068.985189
2019-04-01  -7095.131481
2019-05-01  -1651.095406
2019-06-01   1137.995256

In [41]:
#from statsmodels.graphics.tsaplots import plot_acf
#plot_acf(df)

ImportError: Matplotlib is not found.

In [135]:
df.values

array([[122917.        ],
       [117283.        ],
       [121320.        ],
       [123224.        ],
       [135374.        ],
       [174198.        ],
       [229771.        ],
       [163286.        ],
       [197227.        ],
       [140871.        ],
       [139845.        ],
       [147361.        ],
       [122539.        ],
       [127301.        ],
       [120481.        ],
       [137747.        ],
       [158939.        ],
       [186776.        ],
       [129828.        ],
       [ 94180.        ],
       [101419.        ],
       [ 85987.        ],
       [ 88581.        ],
       [ 83448.        ],
       [ 82316.        ],
       [ 81448.        ],
       [ 77551.        ],
       [ 78180.        ],
       [ 83027.        ],
       [ 89613.        ],
       [ 96641.        ],
       [ 74979.        ],
       [ 81342.        ],
       [ 71154.        ],
       [ 67875.        ],
       [ 71860.        ],
       [ 81252.        ],
       [ 73462.        ],
       [ 69323.        ],
       [ 80360.        ],
       [ 81333.        ],
       [ 85555.        ],
       [ 86045.        ],
       [ 69282.        ],
       [ 81350.98518932],
       [ 74255.85370832],
       [ 72604.7583019 ],
       [ 73742.75355832]])

In [133]:
x=df.values
train = x[0:36]
test = x[36:]

In [134]:
print(train.size)
print(test.size)
predictions = []

36
12

#AR Model (Autoregressive Model)

In [46]:
from statsmodels.tsa.ar_model import AR
from sklearn.metrics import mean_squared_error

In [54]:
model_ar = AR(train)
model_ar_fit = model_ar.fit()

In [55]:
model_ar_fit.predict(start=36, end=47)

array([64212.03538677, 63706.88883535, 62381.38979624, 64271.07010506,
       61948.36527688, 60390.4247527 , 56467.29436062, 53071.25511494,
       53156.42475555, 51030.28831846, 49693.4889281 , 47518.01209294])

#ARIMA Model - AR, I and MA

In [56]:
from statsmodels.tsa.arima_model import ARIMA

In [132]:
#p - periods taken for autoregressive, d = period lag/difference and q = periods in moving average model
mode_arima = ARIMA(train, order = (0,1,3)) #(p,d,q)
mode_arima_fit = mode_arima.fit()

In [129]:
predictions = mode_arima_fit.forecast(steps=12)[0]

In [130]:
predictions

array([66989.66555672, 68011.37995878, 63336.36067209, 60772.10141364,
       58207.8421552 , 55643.58289675, 53079.32363831, 50515.06437986,
       47950.80512142, 45386.54586297, 42822.28660453, 40258.02734608])

In [126]:
import itertools
p=q=d=range(0,5)
pdq = list(itertools.product(p,d,q))
pdq

[(0, 0, 0),
 (0, 0, 1),
 (0, 0, 2),
 (0, 0, 3),
 (0, 0, 4),
 (0, 1, 0),
 (0, 1, 1),
 (0, 1, 2),
 (0, 1, 3),
 (0, 1, 4),
 (0, 2, 0),
 (0, 2, 1),
 (0, 2, 2),
 (0, 2, 3),
 (0, 2, 4),
 (0, 3, 0),
 (0, 3, 1),
 (0, 3, 2),
 (0, 3, 3),
 (0, 3, 4),
 (0, 4, 0),
 (0, 4, 1),
 (0, 4, 2),
 (0, 4, 3),
 (0, 4, 4),
 (1, 0, 0),
 (1, 0, 1),
 (1, 0, 2),
 (1, 0, 3),
 (1, 0, 4),
 (1, 1, 0),
 (1, 1, 1),
 (1, 1, 2),
 (1, 1, 3),
 (1, 1, 4),
 (1, 2, 0),
 (1, 2, 1),
 (1, 2, 2),
 (1, 2, 3),
 (1, 2, 4),
 (1, 3, 0),
 (1, 3, 1),
 (1, 3, 2),
 (1, 3, 3),
 (1, 3, 4),
 (1, 4, 0),
 (1, 4, 1),
 (1, 4, 2),
 (1, 4, 3),
 (1, 4, 4),
 (2, 0, 0),
 (2, 0, 1),
 (2, 0, 2),
 (2, 0, 3),
 (2, 0, 4),
 (2, 1, 0),
 (2, 1, 1),
 (2, 1, 2),
 (2, 1, 3),
 (2, 1, 4),
 (2, 2, 0),
 (2, 2, 1),
 (2, 2, 2),
 (2, 2, 3),
 (2, 2, 4),
 (2, 3, 0),
 (2, 3, 1),
 (2, 3, 2),
 (2, 3, 3),
 (2, 3, 4),
 (2, 4, 0),
 (2, 4, 1),
 (2, 4, 2),
 (2, 4, 3),
 (2, 4, 4),
 (3, 0, 0),
 (3, 0, 1),
 (3, 0, 2),
 (3, 0, 3),
 (3, 0, 4),
 (3, 1, 0),
 (3, 1, 1),
 (3, 1, 2),
 (3, 1, 3),
 (3, 1, 4),
 (3, 2, 0),
 (3, 2, 1),
 (3, 2, 2),
 (3, 2, 3),
 (3, 2, 4),
 (3, 3, 0),
 (3, 3, 1),
 (3, 3, 2),
 (3, 3, 3),
 (3, 3, 4),
 (3, 4, 0),
 (3, 4, 1),
 (3, 4, 2),
 (3, 4, 3),
 (3, 4, 4),
 (4, 0, 0),
 (4, 0, 1),
 (4, 0, 2),
 (4, 0, 3),
 (4, 0, 4),
 (4, 1, 0),
 (4, 1, 1),
 (4, 1, 2),
 (4, 1, 3),
 (4, 1, 4),
 (4, 2, 0),
 (4, 2, 1),
 (4, 2, 2),
 (4, 2, 3),
 (4, 2, 4),
 (4, 3, 0),
 (4, 3, 1),
 (4, 3, 2),
 (4, 3, 3),
 (4, 3, 4),
 (4, 4, 0),
 (4, 4, 1),
 (4, 4, 2),
 (4, 4, 3),
 (4, 4, 4)]

In [84]:
import warnings 
warnings.filterwarnings('ignore')
for param in pdq:
    try:
        mode_arima = ARIMA(train, order = param) #(p,d,q)
        mode_arima_fit = mode_arima.fit()
        print(param, mode_arima_fit.aic)
    except:
        continue

((0, 0, 0), 867.7707951518587)
((0, 0, 1), 850.7483577052345)
((0, 0, 2), 841.9576305804987)
((0, 0, 3), 837.9529122756575)
((0, 0, 4), 839.3483205237959)
((0, 1, 0), 811.3317739512116)
((0, 1, 1), 811.5728267798377)
((0, 1, 2), 813.5296195250893)
((0, 1, 3), 812.3791012477918)
((0, 1, 4), 811.7321449831863)
((0, 2, 0), 819.9074720012866)
((0, 2, 1), nan)
((1, 0, 0), 833.4505256553164)
((1, 0, 1), 834.9191030846015)
((1, 0, 2), 835.7390551938196)
((1, 0, 3), 837.6135885661341)
((1, 0, 4), 838.776113084494)
((1, 1, 0), 811.4277964137128)
((1, 1, 1), 813.3479452303382)
((1, 2, 0), 804.9379332497319)
((1, 2, 1), 794.9575086783291)
((2, 0, 0), 834.7442292028492)
((2, 0, 1), 836.4829894254221)
((2, 0, 2), 837.7340248397238)
((2, 0, 3), 839.2250866846924)
((2, 0, 4), 840.233668627381)
((2, 1, 0), 813.3584582377184)
((2, 1, 1), 815.3441482357708)
((2, 2, 0), 803.6229037253472)
((2, 2, 1), 796.8341591343337)
((2, 2, 3), 796.954069233999)
((3, 0, 0), 836.2109379821229)
((3, 0, 1), 838.2077324552129)
((3, 0, 2), 836.5975160816631)
((3, 0, 3), 838.5616946653162)
((3, 0, 4), 840.4705998154309)
((3, 1, 0), 815.1869285289607)
((3, 1, 4), 815.5846159905299)
((3, 2, 0), 805.3059613755721)
((3, 2, 1), 798.7335348912789)
((4, 0, 0), 838.16246940497)
((4, 0, 1), 839.4698939587142)
((4, 0, 2), 838.4867135367755)
((4, 0, 3), 839.7775375581041)
((4, 1, 0), 814.6897151555993)
((4, 1, 1), 813.2819750639228)
((4, 2, 0), 804.0956265865922)
((4, 2, 1), 798.4687543058942)
((4, 2, 4), 804.0625568498826)